---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date" style="margin-bottom: 0.5rem; font-size: 15px;">{{ post.date | date_to_string }}</span>
    <ul class="category-list">
      {% for category in post.categories %}
      <li><a href="/categories/#{{category}}" class="category-list-element" target="_blank">{{ category }}</a></li>
      {% endfor %}
    </ul>
    <br>
    <p>{{ post.excerpt | strip_html | truncate: 500 }}</p>
    <hr style="margin: 1rem 0;"/>
  </div>
  {% endfor %}
</div>
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

