<header class="site-header">
  <div class="container">
    <div class="site-header-inner">
      <div>
        <a href="{{ site.baseurl }}/" class="site-name">
          {{ site.title }}
          <span class="site-tagline">{{ site.tagline }}</span>
        </a>
      </div>
      <nav class="site-nav">
        {% assign pages_list = site.pages | sort:"url" %}
        {% for node in pages_list %}
          {% if node.title != null and node.layout == "page" %}
            <a href="{{ node.url }}"{% if page.url == node.url %} class="active"{% endif %}>{{ node.title | downcase }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>
  </div>
</header>
