body{
	overflow-x:hidden;
}

.login-container{
    padding: 168px 300px 0px 265px;
}
.content{
	padding-top: 50px;
}
.login-button{
	color: white !important;
	background-color: #24B7E5;
	padding: 5px 18px 5px 18px;
}
.heading-institute{
	color: white;
	background-color: #24B7E5;
	font-size: 22px;
	text-align: center;
	padding: 10px;
}
.login-credentials-box{
	border: 1px solid rgba(30, 31, 30, 0.29);
}
.alert-row{
	display: none;
	color:red;
}
.wrapper{
	margin-top: 5%;
}
header{
	background-color: #24B7E5;
	color:white;
	padding: 10px 0px 10px 0px;
}
.image-teacher{
	width: 25px;
	height: 25px;
	border: 1px solid black;
	border-radius: 100%;
	float: left;
}
.header-search{
	float: left;
	background-color: #24B7E5;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid black;
}
header input:focus{
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid black;
}
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}

footer {
	width:100%;
	height:50px;
	/*position:absolute;*/
	bottom:0;
	left:0;
}
.subheader{
	background-color: #F5F7FA;
	width: 100%;
	height: 37px;
	padding-top: 3px;
}
.subheader .btn{
	border: none;
	background-color: #F5F7FA;
}
.subheader a{
	text-decoration: none;
	color: black;

}
#notes{
	background-color: #F5F7FA;
	height: 40vh;
	padding-left: 0px;
	color: rgba(33, 32, 32, 0.69);
	height: 100%;
	padding-bottom: 15px;
	margin-left: 2%;
	margin-top: 1%;

}
.notes-heading{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;

}
.notes-content{
	padding-top: 10px;
	padding-left: 20px;
}
.notes-footer{
	padding-top: 10px;
	font-size: 20px;
	text-align: right;
}
.activity-user{
	float: left;
	color: #24B7E5;font-size:18px;
}
.activity-content{
	float: left;
}
.list-notes{
	    margin-top: 2%;
    border-radius: 4%;
    background-color: white;
    padding: 10px 10px 10px 10px;
}
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px gray; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {

    background: rgba(128, 128, 128, 0.58); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: gray; 
}
a{
	color: black;
	text-decoration: none;

}
a:hover{
	
	color:#24B7E5;
	text-decoration: none;
	
}
a:active{
	color:#24B7E5;
	text-decoration: none;
}

.active-assessment{
	background-color: #F2F2F2;
	text-align: center;
}
.btn-success a{
	color: white;
}
.btn-success a:hover{
	text-decoration: none;
}
.panel-heading{
	border:none;
	border-color: #F5F7FA;
}
.panel-body{
	padding: 0px;
}
.content-div{
	
}

*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#tooltip1 { position: relative; }
#tooltip1 a span {     margin-left: -62%;
    display: none;
    color: #461F1F;
    margin-top: 25%;color: #FFFFFF; }
#tooltip1 a:hover span { display: block; position: absolute; width: 200px; background: #F5F7FA; height: 50px; left: 100px; top: -10px; color: black; padding: 0 5px; }

.ques-image{
    width: 100%;
    height: 150px;
    background-color: #FBB03B;
}